* {
	transition: 0.5s;
}
div, ul, li {
	display: block;
}

/*Bootstrap style modifications*/
.container {
	margin: 5% auto;
}
.fa {
	font-size: 18px;
	margin: 7px 0;
}
.fa-rotate-left, .fa-trash {
	cursor: pointer;
	margin-left: 4px;
	margin-right: 4px;
}
.fa-rotate-left:hover {
	border: none;
	color: skyblue;
}
.fa-trash:hover {
	border: none;
	color: red;
}

/*Todo list styles*/
.todolist-title {
	border-bottom: 1px solid #c70000;
	padding-bottom: 10px;	
}
.todolist-item {
	border: 1px solid #e2e2e2;
	font-size: 18px;
	height: 46px;
	padding: 6px 12px;
}
	.todolist-item-checkbox {
		background-color: #fff;
		border: 1px solid #a1a1a1;
		border-radius: 2px;
		display: inline-block;
		height:18px;
		margin: 7px 0 7px;
		vertical-align: middle;
		width:18px;
	}
	.todolist-item-content {
		vertical-align: middle;
		margin-left: 4px;
	}
.todolist-completed-item {
	border: 1px solid #e0e0e0;
	color: #e2e2e2;
	font-size: 18px;
	height: 46px;
	padding: 6px 12px;
}
	.todolist-completed-item .todolist-item-content {
		text-decoration: line-through;
	}
.item-click-overlay {
	cursor: pointer;
	display: block;
	width: 100%;
}